* {
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.f-direction-reverse {
    flex-direction: row-reverse;
}

.f-grow-1 {
    flex-grow: 1;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.pd-10{
    padding: 10px;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.w-100-px {
    width: 100px;
}

.red {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: red;
}

.green {
    height: calc(50% - 5px);
    background-color: green;
}

.pink {
    background-color: pink;

}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}
